.checkout_container {
  display: grid;
  grid-template-columns: 1fr 0.4fr;
  gap: 2rem;
  margin-top: 2rem;
}

.form_container h1 {
  color: var(--white);
  font-weight: 500;
  padding-bottom: 1rem;
}
.form {
  width: 100%;
}
.form p {
  color: red;
  padding: 1rem 0;
}

.input_row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  gap: 1rem;
}

.input_column {
  width: 50%;
  margin-bottom: 2rem;
}

.input_row label {
  display: block;
  margin-bottom: 5px;
  color: var(--white);
}

.input_row input,
.input_row textarea {
  width: 100%;
  padding: 15px 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: var(--white);
}
.form button {
  background-color: var(--white);
  font-size: 1rem;
  padding: 0.7rem;
  color: black;
}
.form button:hover {
  background-color: var(--text);
  color: var(--white);
}
.total_items {
  background-color: var(--light-bg);
  padding: 1rem;
}
.total_items li {
  display: flex;
  justify-content: space-between;
  color: var(--white);
  margin-bottom: 1rem;
}
.total_items li span {
  color: orange;
  font-size: 1.2rem;
}
.total_items h3 {
  color: var(--white);
  font-size: 1.5rem;
  margin: 2rem 0 0.5rem 0;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 968px) {
  .checkout_container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 468px) {
  .checkout_container {
    grid-template-columns: 1fr;
  }
  .input_row {
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .input_column {
    width: 100%;
    margin-bottom: 0;
  }
  .form_container h1 {
    font-size: 1rem;
  }
  .form button {
    font-size: 0.8rem;
    padding: 0.5rem;
  }
}
